* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
}

h3,
p {
  background-color: azure;
}

a {
  color: aliceblue;
}

img {
  width: 300px;
  height: auto;
}

div,
ul,
li {
  background-color: azure;
  width: 1000px;
}